



    <div class="container-fluid tp-gx-40">
       <div class="row tp-gx-20">
        {% for block in section.blocks %}

                {% liquid
                    assign b = block.settings
                    assign img = b.banner_img | img_url: '558x280'
                    assign heading = b.heading
                    assign url = b.text_link
                    assign url_btn = b.button_url
                    assign btn_txt = b.btn_txt

                %}

          <div class="col-xxl-4 col-lg-6">
             <div class="tp-banner-item-2 p-relative z-index-1 grey-bg-2 mb-20 fix">
        <div class="tp-banner-thumb-2 include-bg transition-3" {% if b.banner_img  != blank %} data-background="{{img}}" {% endif %}></div>
                <h3 class="tp-banner-title-2">
                   <a href="{{url}}">{{ heading }}</a>
                </h3>
                <div class="tp-banner-btn-2">
                   <a href="{{url_btn}}" class="tp-btn tp-btn-border tp-btn-border-sm">{{btn_txt}}
                      <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M16 7.49988L1 7.49988" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                         <path d="M9.9502 1.47554L16.0002 7.49954L9.9502 13.5245" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                   </a>
                </div>
             </div>
          </div>

        {% endfor %}
       </div>
    </div>





 {% schema %}
 {
        "name": "Banner",
        "tag": "section",
        "class": "tp-banner-area mt-20",
        "settings": [

        ],
        "blocks": [
            {
                "name": "Slide",
                "type": "slider",
                "limit": 3,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "banner_img",
                        "label": "Banner Image"
                    },
                    {
                        "type": "textarea",
                        "id": "heading",
                        "label": "Heading",
                        "default": "T-Shirt Tunic <br> Tops Blouse"
                    },
                    {
                        "type": "url",
                        "id": "text_link",
                        "label": "Select a Link"
                    },
                    {
                        "type": "text",
                        "id": "btn_txt",
                        "label": "Button Text",
                        "default": "Shop Now"
                    },
                    {
                        "type": "url",
                        "id": "button_url",
                        "label": "Button Link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Banner"
            }
        ]
    }
 {% endschema %}