
   {% assign s = section.settings %}

    <div class="container">
       <div class="row">
          <div class="col-xl-12">
             <div class="tp-section-title-wrapper-2 text-center mb-50">
               {% if s.section_label %}
                  <span class="tp-section-title-pre-2">
                     {{ s.section_label }}

                     <svg width="82" height="22" viewBox="0 0 82 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M81 14.5798C0.890564 -8.05914 -5.81154 0.0503902 5.00322 21" stroke="currentColor" stroke-opacity="0.3" stroke-width="2" stroke-miterlimit="3.8637" stroke-linecap="round"/>
                     </svg>
                  </span>
               {% endif %}
                <h3 class="tp-section-title-2">{{ s.heading }}</h3>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-xl-12">
             <div class="tp-category-slider-2">
                <div class="tp-category-slider-active-2 swiper-container mb-50">
                   <div class="swiper-wrapper">

                     {%  for product in s.product_list__select %}
                           <div class="tp-category-item-2 p-relative z-index-1 text-center swiper-slide">
                              <div class="tp-category-thumb-2">
                                 <a href="{{ product.url }}">
                                    <img src="{{product.featured_image | img_url: 'medium'}}" alt="{{ product.title }}">
                                 </a>
                              </div> 
                              <div class="tp-category-content-2">
                                 <span>From {{ product.price | money }}</span>
                                 <h3 class="tp-category-title-2">
                                    <a href="{{ product.url }}">{{ product.title }}</a>
                                 </h3>
                                 <div class="tp-category-btn-2">
                                    <a href="{{ product.url }}" class="tp-btn tp-btn-border"> {% if product.available %} Add to Cart {%  else %} Out of Stock {% endif %}</a>
                                 </div>
                              </div>
                           </div>
                     {% endfor %}

                   </div>
                </div>
                <div class="swiper-scrollbar tp-swiper-scrollbar tp-swiper-scrollbar-drag"></div>
             </div>
          </div>
       </div>
    </div>



 {% schema %}
    {
        "name": "Product Slide",
        "tag": "section",
        "class": "tp-category-area pb-95 pt-95",
        "settings": [
            {
               "type": "text",
               "id": "section_label",
               "label": "Label Teax",
               "default": "Shop by Category"
            },
            {
               "type": "text",
               "id": "heading",
               "label": "Heading",
               "default": "Popular on the Shofy store."
            },
            {
               "type": "product_list",
               "id": "product_list__select",
               "label": "Select Products",
               "info": "Maximum 6 Products",
               "limit": 6
            }
        ],
        "presets": [
         {
            "name": "Product Slide"
         }
        ]
    }
 {% endschema %}