{% assign title = section.settings.section__title %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="tp-testimonial-slider p-relative z-index-1">
                <div class="tp-testimonial-shape">
                    <span class="tp-testimonial-shape-gradient"></span>
                </div>
                <h3 class="tp-testimonial-section-title text-center">{{ title }}</h3>
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="tp-testimonial-slider-active swiper-container">
                            <div class="swiper-wrapper">
                            {%  for block in section.blocks %}
                                {% liquid
                                    assign s = block.settings
                                    assign star = s.enable__star_icon
                                    assign msg = s.testimonial_msg
                                    assign name = s.client_name
                                    assign designation = s.client_designation
                                    assign img = s.client_image | img_url: 'master'
                                %}
                                <div class="tp-testimonial-item text-center mb-20 swiper-slide">
                                    {% if star %}
                                        <div class="tp-testimonial-rating">
                                            <span><i class="fa-solid fa-star"></i></span>
                                            <span><i class="fa-solid fa-star"></i></span>
                                            <span><i class="fa-solid fa-star"></i></span>
                                            <span><i class="fa-solid fa-star"></i></span>
                                            <span><i class="fa-solid fa-star"></i></span>
                                        </div>
                                    {% endif %}
                                    <div class="tp-testimonial-content">
                                        <p>“ {{msg}}”</p>
                                    </div>
                                    <div class="tp-testimonial-user-wrapper d-flex align-items-center justify-content-center">
                                        <div class="tp-testimonial-user d-flex align-items-center">
                                            <div class="tp-testimonial-avater mr-10">
                                            <img src="{{img}}" alt="">
                                            </div>
                                            <div class="tp-testimonial-user-info tp-testimonial-user-translate">
                                            <h3 class="tp-testimonial-user-title">{{name}}</h3>
                                            <span class="tp-testimonial-designation">{{designation}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tp-testimonial-arrow d-none d-md-block">
                    <button class="tp-testimonial-slider-button-prev">
                        <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.061 6.99959L16 6.99959" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.08618 1L1.06079 6.9995L7.08618 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <button class="tp-testimonial-slider-button-next">
                        <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.939 6.99959L1 6.99959" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.91382 1L15.9392 6.9995L9.91382 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                <div class="tp-testimonial-slider-dot tp-swiper-dot text-center mt-30 tp-swiper-dot-style-darkRed d-md-none"></div>
                </div>
            </div>
        </div>
    </div>


{% schema %}
    {
        "name": "Testimonial Sider",
        "tag": "section",
        "class": "tp-testimonial-area grey-bg-7 pt-130 pb-135",
        "settings": [
            {
                "type": "text",
                "id": "section__title",
                "label": "Section Title",
                "default": "The Review Are In"
            }
        ],
        "blocks": [
            {
                "name": "Testimonial",
                "type": "testimonial",
                "limit": 5,
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "enable__star_icon",
                        "label": "Show Star Icon",
                        "default": true
                    },
                    {
                        "type": "text",
                        "id": "testimonial_msg",
                        "label": "Testimonial Massage",
                        "info": "Use the Massage without quation mark",
                        "default": "How you use the city or town name is up to you. All results may be freely used in any work."
                    },
                    {
                        "type": "image_picker",
                        "id": "client_image",
                        "label": "Client Image"
                    },
                    {
                        "type": "text",
                        "id": "client_name",
                        "label": "Client Name",
                        "default": "Theodore Handle"
                    },
                    {
                        "type": "text",
                        "id": "client_designation",
                        "label": "Client Designation",
                        "default": "CO Founder"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Testimonial Sider"
            }
        ]
    }
{% endschema %}